<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="FlaskHandler" 
                 path="*" 
                 verb="*" 
                 modules="FastCgiModule" 
                 scriptProcessor="C:\Python312\python.exe|C:\Python312\Lib\site-packages\wfastcgi.py" 
                 resourceType="Unspecified" 
                 requireAccess="Script" />
        </handlers>
        <fastCgi>
            <application fullPath="C:\Python312\python.exe" 
                        arguments="C:\Python312\Lib\site-packages\wfastcgi.py" 
                        maxInstances="16" />
        </fastCgi>
        <environmentVariables>
            <add name="PYTHONPATH" value="C:\Users\Catalina M\source\repository\OTC-web\FlaskApp" />
            <add name="WSGI_HANDLER" value="app.app" />
        </environmentVariables>
    </system.webServer>
</configuration>
